#emaitzenLista {
    overflow: scroll !important;
    max-height: 60vh;
}

.akta{

   /* background-color: #F2CC8F !important;
    background-color: #81B29A !important;*/
    background-color: #F4F1DE !important;

}