#emaitzenLista {
    overflow-y: scroll !important;
    height: 36vh !important;
}

.akta{

   /* background-color: #F2CC8F !important;
    background-color: #81B29A !important;*/
   /* background-color: #F4F1DE !important;*/
   background-color: #fffbdb!important;


}

#edizioakContainer {
    overflow-x: scroll !important;
}

.edizioa{

    background-color: #fffbdb !important;
}