:root {
    /*--background-var: linear-gradient(180deg, rgba(255, 42, 42, 0.78), rgba(42, 3, 63, 0.3)), brown;*/
   /* --background-var:  rgba(255, 42, 42, 0.7);*/
   
   --background-var: #e74c3c;

}

#emaitzen-lista{

overflow-x: hidden !important;
max-height: 60%;

}

.akta:hover{

background-color: #faef93 !important;



}

.akta{

background-color: #fffbdb!important;

}